[submodule "WP3-USV-Digital-Twin"]
	path = WP3-USV-Digital-Twin
	url = https://github.com/FaisalMazloum/WP3-USV-Digital-Twin.git
[submodule "WP3-Self-Diagnosis-Toolkit"]
	path = WP3-Self-Diagnosis-Toolkit
	url = https://github.com/FaisalMazloum/WP3-Self-Diagnosis-Toolkit.git
[submodule "ROS2swarm_adjusted"]
	path = ROS2swarm_adjusted
	url = https://github.com/FaisalMazloum/ROS2swarm_adjusted.git
